.default-color0.chart-series-line { -fx-stroke: #82cc60; }
 
.default-color0.chart-line-symbol { -fx-background-color: #82cc60, white; }

.chart-plot-background { -fx-background-color: transparent; }

.chart-legend { -fx-background-color: transparent; }