.default-color0.chart-series-line { -fx-stroke: #4287f5; }
 
.default-color0.chart-line-symbol { -fx-background-color: #4287f5, white; }

.chart-plot-background { -fx-background-color: transparent; }

.chart-legend { -fx-background-color: transparent; }